<div class="rounded-2xl p-4 bg-zinc-100 mb-10">

	<img class="aspect-video rounded" src="/images/oblll.png" alt="Banner Email Marketing">

	<p class="text-right text-xs mt-2 leading-none text-zinc-500">Методика 21 см</p>

</div>

<div class="rounded-2xl p-4 bg-zinc-100 mb-10">

		<img class="aspect-video rounded" src="/images/obl.png" alt="Banner Email Marketing">

		<p class="text-right text-xs mt-2 leading-none text-zinc-500">Методика 21 см</p>
	
</div>

<div class="rounded-2xl p-4 bg-zinc-100 mb-10">

	<img class="aspect-video rounded" src="/images/obll.png" alt="Banner Email Marketing">

	<p class="text-right text-xs mt-2 leading-none text-zinc-500">Методика 21 см</p>

</div>

