<div class="max-w-7xl mx-auto my-16 rounded-3xl bg-blue-500">
	
	<div class="flex flex-wrap p-6 lg:p-10 space-y-6 lg:space-y-0">

		<div class="w-full md:w-3/5 lg:pr-10 text-white">
			
			<h3 style="text-align: right;" class="text-2xl font-semibold mb-4">ОТПРАВЬТЕ АНОНИМНЫЙ ВОПРОС</h3>
			
			

	</div>
		
	


		

			<form class="flex flex-wrap space-x-4" name="contact" netlify>
				
				<label >Ник <input class="w-full lg:w-3/5 px-6 py-2 rounded-full" type="text" name="name" /></label>
			
			
				<label >Почта <input class="w-full lg:w-3/5 px-6 py-2 rounded-full" type="email" name="email" /></label>
				
				<label type="email"><textarea name="message" style="width: auto;" class="w-full lg:w-3/5 px-6 py-2 rounded-full"  ></textarea></label>
			
				<button style="background-color: rgba(123, 12, 34, 0.5); color: white; font-size: 20px; height: 45px; border-radius: 10px;" type="submit">Отправить</button>
		
			</form>
			
			
			
		</div>
	</div>
</div>


	
